{% extends "base.html.twig" %}

{% block stylesheets %}
    <style>
    .card-perso{
        background-color: #fff;
        color: #000;
        border: 1px solid rgba(0,0,0,.1);
        box-shadow: 0 1px 8px 0 rgba(0,0,0,.12);
        border-radius: 8px;
        padding: 20px 15px;
        text-align: center;
        min-height: 420px;
        margin-bottom: 20px;
    }
    </style>
{% endblock %}

{% block body %}
    <div style="margin: 80px"></div>
    <h1 style="margin: 0px 0px 30px 30px;">Votre panier</h1>
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                    <div class="card card-perso">
                        <div class="card-img-top">
                            <a class="btn btn-danger" style="border-radius: 20px; position: absolute; right: 10px;" href="{{ path('panier.delete', {id: product.0.id}) }}">X</a>
                            <img class="img-fluid" src="{{ product.0.image }}" style="height: 150px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('product.show', {id: product.0.id}) }}">{{ product.0.namep }}</a>
                            </h5>
                            <p class="card-text">
                                {{ product.0.description }}
                            </p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem;">
                                {{ product.0.price }} €
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div style="margin-left: 50px;">
                <h3 class="text-primary" style="margin-bottom: 20px">Prix total : {{ prixtot }} €</h3>
                <button class="btn btn-success">Commander</button>
            </div>
        </div>
    </div>
{% endblock %}